*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 250px;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.cards{
    width: 250px;
    padding: 25px;
    /* border: 3px solid black; */
}


#card-1{
    background-color: #E38826;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#card-2 {
    background-color: #006970;
}

#card-3 {
    background-color: #004241;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

img, h1, p {
    padding-bottom: 20px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
    opacity: .7;
}

button{
    padding: 10px 25px;
    border-radius: 20px;
    border-style: none;
    background-color: #FFFFFF;
}

button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px lightblue;
}

#card-1  button{
    color: #E38826;
}

#card-2 button {
    color: #006970;
}

#card-3 button {
    color: #004241;
}

@media (min-width: 576px){


    #wrapper{
        flex-direction: row;
        height: 500px;
        width: 900px;
        margin: 25vh;
    }

    .cards{
        position: relative;
        height: 100%;
        width: 100%;
    }

    #card-1 {
        border-top-right-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #card-3 {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
    }

    img, h1 {
        padding-bottom: 50px;
    }

    button {
        position: absolute;
        bottom: 75px;
    }
}